<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogFile="internalLog.txt">
<!--If there are no access rights for the internalLogFile or to the primary log file, than application will NOT crush.-->
  <targets>
    <!--TODO: specify CommonAppDataPath dynamically (or at least the app version)-->
    <target name="logfile"
            xsi:type="File"
            fileName="${specialfolder:folder=LocalApplicationData}\NavigationAssistant\NavigationAssistant\1.0.0.152\log.txt"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            keepFileOpen="false" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>